params.input = "/media/drprabudh/m4/Hepatocellular/Data/leftfasta/*.fastq.gz"
params.ref = "/media/drprabudh/m1/hg38/hg38.fa"
params.knownsites = "/media/drprabudh/m1/vcf_file/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"
params.output = "results"

process.executor = 'local'
process.cpus = 16
process.memory = '32 GB'
process.time = '48h'
